*{
    margin-top: 9px;
    background-color: #F5C45E;
}

body{
    background-color: #F5C45E;
}

.container-sm {
    margin-top: 30px;

}

h1{

    text-align: center;
    color: #102E50;
    padding-top: 10px;
}

.btn-primary{
    background-color: #E78B48;
    border: #E78B48;
}